
	*{
	margin: 0px;
	padding: 0px;
	}
	/*.content {
		height: 770px;
		width: 100%;
		margin-top: -5px;
		background-color:#7156C0;
		position: relative;
		z-index: 1;
	}*/
	#image {
		position: relative;
	z-index: -1;
	height: 770px;
		width: 100%;

	}
	.content1 {
		height: 770px;
		width: 100%;
		margin-top: -5px;
		background-color:#4dbbac;
		position: relative;
		z-index: 1;
	}
	.content2 {
		height: 770px;
		width: 100%;
	
		background-color:#578CCD;
		position: relative;
		z-index: 1;
	}
	.content3 {
		height: 770px;
		width: 100%;
		
		background-color:#DD9FF7;
		position: relative;
		z-index: 1;
	}
	.content4 {
		height: 770px;
		width: 100%;
	
		background-color:#CD5A57;
		position: relative;
		z-index: 1;
	}
	
