.sec1
{
  min-width: 670px;
  padding: 60px 0;
  margin-right: auto;
}
.sec1 .floating-box
{
  position: relative;
  left: 50%;
  margin-left: 20px
}
	#image 
  {
	position: relative;
    width: 100%;
    }
  .thumbnai {
    position: relative;
    display: inline-block;
}
.thumbnai .BodyContainer {
    width: 100%;
    position: absolute;
    z-index: 1;
}
.thumbnai img {
    display: block;
}

.caption {
    position: absolute;
    top: 45%;
    left: -160px;
    width: 100%;
    padding: 100px;
}

#indexname
{
  margin-top: -150px;
  margin-right: 150px;
}
  .cornerimage {
  border: 0;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 15px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  z-index: 20;
 } 
 .cornerimage1 {
  border: 0;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 15px;
  margin-right: 90px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  z-index: 20;
 } 
	nav {
  top: 0;
  margin-top: 20px;
  margin-left: 15px;
  text-align: center;
  position: fixed;
  z-index: 5;
}
	.content1 {
		height: 770px;
		width: 100%;
    margin-top: -5px;
	   background-color:#e0ebe8;
		position: relative;
		z-index: 1;
	}

  .disc .left-cloud {
    left: 3em;
    bottom: 32em;
}
.disc .right-cloud {
    right: 10em;
    top: 0;
    margin-top: 120px;
    
}
.disc .cloud {
    position: absolute;
    background: url(img/cloud.svg) top left no-repeat;
    background-image: url(img/cloud.svg);
    background-position-x: left;
    background-position-y: top;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    width: 150px;
    height: 45px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
    z-index: 980;
}

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    height: 200px;
    padding-top: 30px;  
 }
	.content2 {
		height: 770px;
		width: 100%;
	text-align: center;
		background-color:#4ab19a;  /* 6cc6c6  */
		overflow: auto;
		position: relative;
		z-index: 1;
    margin-top: -1px;
	}
  .chart1 {
  position: relative;
  display: inline-block;
  font-family: Arial, Verdana;
  width: 110px;
  overflow: hidden;
  text-align: center;
}
.chart1 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.sk
{
  font-family: Arial, Verdana;
padding-top: 40px;
color: white;
}
.htm1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.ja1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.cs1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.jq1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.ag1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.re1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.nd1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.pp1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.ns1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.ms1
{
  font-family: Arial, Verdana;
  font-size: 3vmin;
  color: white;
}
.md1
{
  font-family: Arial, Verdana;
font-size: 3vmin;
  color: white;
}
.chart2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-family: Arial, Verdana;
  width: 110px;
  text-align: center;
}
.chart2 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart3 {
  position: relative;
  display: inline-block;
  font-family: Arial, Verdana;
  width: 110px;
  overflow: hidden;
  text-align: center;
}
.chart3 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart4 {
  position: relative;
  display: inline-block;
  font-family: Arial, Verdana;
  width: 110px;
  overflow: hidden;
  text-align: center;
}
.chart4 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart5 {
  position: relative;
  display: inline-block;
  font-family: Arial, Verdana;
  width: 110px;
  overflow: hidden;
  text-align: center;
}
.chart5 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart6 {
  position: relative;
  display: inline-block;
  font-family: Arial, Verdana;
  width: 110px;
  overflow: hidden;
  text-align: center;
}
.chart6 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart7 {
  position: relative;
  display: inline-block;
  font-family: Arial, Verdana;
  width: 110px;
  overflow: hidden;
  text-align: center;
}
.chart7 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart8 {
  position: relative;
  display: inline-block;
  font-family: Arial, Verdana;
  width: 110px;
  overflow: hidden;
  text-align: center;
}
.chart8 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart9 {
  position: relative;
  display: inline-block;
  font-family: Arial, Verdana;
  width: 110px;
  overflow: hidden;
  text-align: center;
}
.chart9 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart10 {
  position: relative;
  display: inline-block;
  font-family: Arial, Verdana;
  width: 110px;
  overflow: hidden;
  text-align: center;
}
.chart10 canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  line-height: 110px;
  z-index: 2;
}
img.tree{
  position: absolute;
  left: 50%;
  width: 800px;
  z-index: -1;
  margin-top: 270px;
  margin-left: -410px
}
	.content3 {
		height: 770px;
		width: 100%;
		background-color: #e5eaee;
    margin-top: -20px;
	}
.thumb-unit img
{
  position:relative;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
}
.thumb-unit .im1
{
  margin-bottom: 50px;
}
.thumb-unit .im2
{
  margin-bottom: 50px;
}
   .thumb-overlay
  {
    position: absolute;
    width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
    background-color: #c99065;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    top: 0;
    opacity: 0;
  }
  .thumb-overlay:hover
  {
    transition: 0.5s;
     opacity: 0.7;
     z-index: 3;
     cursor: pointer;
  }
  .thumb-overlay .hov
  {
    text-align: center;
    color: white;
    font-size: 3.5vmin;
    top: 0;
  }
  .wor
  {
    color: #c99065;
    padding: 50px;
  }
  .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
	.form-group
  {
    font-size: 18px;
    padding-top: 10px;
  }
  .move1
  {
    padding-top: 75px;
  }
  form
  {
    background:url(img/form-back.jpg);
    height: 600px;
    margin: 0 auto -155px; 
  }
h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}
p {
	font-family: 'Dancing Script', cursive, Arial, Verdana;
  letter-spacing: -1px;
  color: #000000;
  font-size: 6vmin;
}
.bar1, .bar2, .bar3 {
	z-index: 1;
    width: 35px;
    height: 5px;
    background-color: #000000;
    align-items:  center;
    margin-left: 50px;
    margin-top: 10px;
}
nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  border-radius: 0px;
}
nav > ul > li {
  float: left;
  width: 150px;
  height: 65px;
  line-height: 65px;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
nav > ul > li:hover {
  border-radius: 5px;
}
ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
}
ul.drop-menu li {
	font-family: Arial Narrow, Century Gothic, Arial;
  background: #666;
  color: rgba(255, 255, 255, 1);
}

ul.drop-menu li:hover {
  text-decoration: none;
  background: #4dbbac;
}
.bor0{
  
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.bor
{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
ul.drop-menu li {
  display: none;
}
li:hover > ul.drop-menu li {
  display: block;
}
li:hover > ul.drop-menu.menu-1{
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(1){
  text-decoration: none;
  opacity:0;
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(2){
  opacity:0;
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 600ms ;
          animation-duration: 600ms ;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(3){
  opacity:0;
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration: 800ms;
          animation-duration: 800ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
li:hover > ul.drop-menu.menu-1 li:nth-child(4){
  opacity:0;
  -webkit-animation-name: menu1;
          animation-name: menu1;
  -webkit-animation-duration:1000ms;
          animation-duration:1000ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes menu1 {
  0%{
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100%{
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}

@keyframes menu1 {
  0%{
    opacity: 0;
    -webkit-transform: rotateY(-90deg) translateY(30px);
            transform: rotateY(-90deg) translateY(30px);
  }
  100%{
    opacity: 1;
    -webkit-transform: rotateY(0deg) translateY(0px);
            transform: rotateY(0deg) translateY(0px);
  }
}


